doctype html
html
	head
		title Scholo
		link(rel='stylesheet' href='/stylesheets/css/materialize.min.css')
	body
		block content
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js')
